<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">SLURP DA SOUP</h1>
    <p class="lead text-center">ADD A SOUP</p>
    <form id="addSoupForm" class="button-size text-center">
      <input id="soupText" type="text" name="soup"></input>
      <button type="submit" class="btn btn-primary m-3 fas fa-utensil-spoon"> Save Soup!</button>
    </form>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-6">
      <h3 class="slurpTitle border border-primary rounded-pill text-center">SOUP TO SLURP</h3>
      <ol>
        {{#each soups}}
        {{#unless slurped}}
        <section class="row mb-1 pb-1">
          <section class="col-6 float-left">
            <li class="soupText border border-primary rounded-pill text-center">{{ soup_name }}</li>
          </section>
          <section class="col-6 float-right">

            <button data-id="{{id}}" class="slurpSoupBtn btn-primary">SLURP IT</button>

          </section>

        </section>

        {{/unless}}
        {{/each}}
      </ol>
    </div>


    <div class="col-6">
      <h3 class="slurpTitle border border-primary rounded-pill text-center">SLURPED SOUP</h3>
      <ol>
        {{#each soups}}
        {{#if slurped}}
        <section class="row mb-1 pb-1">
          <section class="col-5 float-left">
            <li class="soupText border border-danger rounded-pill mb-1 pb-1 text-center">{{ soup_name }}</li>
          </section>
          <section class="col-5 float-right">

            <button data-id="{{id}}" class="deleteSoupBtn btn btn-primary">X</button>

          </section>

        </section>
        {{/if}}
        {{/each}}
      </ol>
    </div>
  </div>
</div>









<script type="text/javascript">

  $(document).ready(function () {
    
    // POST/ADD
    $("#addSoupForm").on("submit", function (event) {
      event.preventDefault();

      const newSoup = {
        soup_name: $("#soupText").val().trim()
      }

      //SEND POST
      $.ajax("/api/soups", {
        method: "POST",
        data: newSoup
      }).then(function () {
        console.log("Soup added successfully!");

        window.location = "/";
      });
    });

    // PUT/UPDATE
    $(".slurpSoupBtn").on("click", function (event) {
      event.preventDefault();

      const soupId = $(this).data("id");
      console.log(soupId, "Here is the")

      $.ajax("/api/soups/" + soupId, {
        method: "PUT",
        data: {
          slurped: 1
        }
      }).then(function () {
        console.log("The Soup has been slurped!");

        window.location = "/";
      });
    });

   //DELETE
  $(".deleteSoupBtn").on("click", function(event){
    event.preventDefault();

    const id = $(this).data("id");
    console.log(id)

    var deleteSoup = {
      id: id
    };

    $.ajax("/api/soups/" + id, {
      method: "DELETE",
      data: deleteSoup
    }).then(
      function() {
        console.log("deleted", deleteSoup)
        
        window.location = "/";
      
      });
  });

});
</script>